body {
  margin: 0;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 1);
  position:fixed;
  top: 0;
  z-index : 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  list-style: none;
}

 
.header-right li{
	display:inline-block;
	padding:8px 20px;
}

.header-right li a {
	font-family: "Montserrat" sanserif;
	font-weight:500px;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
  transition: all 0.5s;
  color: white;
}


.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(ekstra.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper img{
  width :250px;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}


.first-main h1{
  color: black;
  /*untuk membuat text berada di tengah*/
  font-size: 30px;
  margin: 50%;
  position: absolute;
  top:50%; left: 50%
  transform:translate(-50%,-50%);
}

span::before{
  content: "";
  animation: words 6s infinite;
  color: #cc2626;
}

@keyframes words {
  0% {content: "HTML5.";} 
  25% {content: "CSS3.";}
  50% {content: "JavaScript.";} 
  75% {content: "NodeJS.";}
  100% {content: "ReactJS.";}
}


.lesson-wrapper {
  padding-bottom: 400px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 20%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon img{
  background-size: 100px 100px;
  max-width: 160px;
  width : 100px;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin: 30px;
  font-size: 15px;
  color: #b3aeb5;
}

h2: nth-child(2) {
  font-weight: normal;
  color: white;
}

.message-wrapper {
  background-color: rgba(0, 51, 51, 1);
  border-bottom: 1px solid #eee;
  padding-bottom: 120px;
  padding-top: 70px;
  text-align: right;
}
.justimage{
  width: 250px;
  float: left;
  padding-top: 0;

}

.headingmess{
  color: #acacac;
  font-family: annabelle;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer {
  padding-top: 20px;
  background-color: #336666;
  text-align: center;
  margin-top:0;
  margin-bottom: 1px;
}

footer p {
  color: #ccccff;
  font-size: 12px;
}

footer img {
  width: 90px;
  padding-right: 25px;
}


